<div class="container">
  <div class="subcontainer">
    <h1 class="text-light">Welcome to your time</h1>

    <div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
      <a href="/login" class="btn"></i>Log in</a>
      <a href="/signup" class="d-block btn btn-outline-light">Sign up</a>
    </div>

    <h6 class="text-light small"><i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by Raquel Rodríguez</h6>
  </div>
</div>