<div class="container-mood">
<div class="container">
  <div class="subcontainer">
  <div class="main">
	<span class="span-letter">M</span>
	<span class="span-letter">O</span>
	<span class="letter"></span>
	<span class="span-letter">D</span>
	<span class="span-letter">A</span>
	<span class="span-letter">Y</span>
</div>
<p><i>Welcome to your time</i></p>
    <div class="btn-group mt-2 mb-4" role="group" aria-label="actionButtons">
      <a href="/login" class="btn"></i>Log in</a>
      <a href="/signup" class="d-block btn btn-outline-light">Sign up</a>
    </div>

    <p class="text-light small"><i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by Raquel Rodríguez</p>
    <p class="text-light small"> <i>Ironhack 2021</i></p>
    
  </div>
</div>
</div>
<div class="icons-container">
    <a href="https://github.com/srtamaciel" target="_blank"><img class="icon github" src="https://i.ibb.co/ZYtMZLJ/github-icon.png" alt="github icon"></a>
    <div>
    <a href="https://www.linkedin.com/in/raquel-rodr%C3%ADguez-d%C3%ADaz-880151a7/" target="_blank"><img class="icon" src="https://i.ibb.co/bP2JycM/linkedin-icon.png" alt="linkedin icon"></a>
    </div>
</div>