
<span><a onclick="goBack()" class="btn navbar"><i class="fas fa-arrow-left"></i></a></span>

<div class="container-mood">
<div class="form-container">
<h1>Let's log in</h1>
  <form action="/login" method="POST">
    <div class="input">
      <label for="username">Username</label>
      <input type="text" name="username">
      
      <label for="password">Password</label>
      <input type="password" name="password">
    
      <a class="anchor-buttons"><button class="buttons" type="submit">Log in</button></a>
    </div>
  </form>
</div>

{{#if errorMessage}}
<p class="error-message">{{this.errorMessage}}</p>
{{/if}}
</div>