<span><a href="/" class="btn navbar"><i class="fas fa-arrow-left"></i></a></span>

<div class="container-mood">
  <div class="form-container">
    <h1>Let's log in</h1>
    <form action="/login" method="POST">
      <div class="input">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <a class="anchor-buttons"><button class="buttons" type="submit">Log in</button></a>
      </div>
    </form>
  </div>
  {{#if signUpMsg}}
  <div class="error-message">
    <p>{{this.signUpMsg}}</p>
  </div>
  {{/if}}

  {{#if errorMessage}}
  <div class="error-message">
    <p>{{this.errorMessage}}</p>
  </div>
  {{/if}}
</div>