<span><a href="/logout" class="btn"></i>Log out</a></span>
<div class="header">
  <img class="user-image" src="{{user.img}}" alt="{{user.username}}">
  <h2>Welcome {{user.username}}</h2>
</div>

<div class="calendar-container">
  <div id='calendar'></div>
</div>

<script>
  const moods = {{{ moods }}}
</script>