<span><a href="/logout" class="btn"></i>Log out</a></span>
{{!-- <span><a href="/mood/new" class="btn"></i>Your mood today</a></span> --}}

  <h2>Welcome, {{username}}<img class="user-image" src="{{img}}" alt="{{username}}"></h2>
  
  <div class="calendar-container">
    <div id='calendar'></div>
  </div>
