* {
	font-family: "Montserrat", sans-serif !important;
	margin-top: 5px;
	padding: 0px;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 900%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

h1,
h2,
h3 {
	text-align: center;
	margin-bottom: .5rem;
	font-weight: 500;
	line-height: 1.2;
	font-size: 2.5rem;
	color: #f8f9fa;
}


.subcontainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.btn-group {
	margin-bottom: 1.5rem;
	margin-top: .5rem;
	position: relative;
	display: inline-flex;
	vertical-align: middle;
}

.btn {
	color: white;
	padding: 10px 30px;
	border: 1px solid white;
	margin: 5px;

}

.delete-mood{
	padding: 5px 10px;
	background-color: white;
	opacity: 0.5;
}
.delete-mood > button {
	color: black;
}
.form-delete-mood {
	margin-top: 20px
}
.btn:hover {
	background-color: white;
	color: black;
	opacity: 0.5;
}

.text-light {
	color: white;
}

#calendar {
	margin-top: 50px;
	width: 600px;
	color: white;
}

.calendar-container {
	display: flex;
	justify-content: center;
}

span {
	float: right;
}

button {
	background: transparent;
	border: none;
	color: white
}

button:hover {
	color: black;
	background-color: white;
	opacity: 0.5;
}

.form-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.input {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input>label {
	color: white;
	padding: 10px;
}

.input>input {
	border: none;
	border-radius: 20px;
	padding: 10px 40px;

}

.input>a {
	margin-top: 30px
}

ul li {
color: white;
list-style-type: none;
}
.container-mood {
	display: flex;
	justify-content: space-evenly;
	margin-top: 15vh;
}

.mood {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px;
	border: 1px solid white;
	padding: 5px 0px;
}

ul{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

p {
color: white;
text-align: center;
}

.user-image {
	width: 200px;
}

.doodle-mood {
	width: 150px;
}