<span><a href="/profile" class="btn navbar">Your profile</a></span>
<h1>How do you feeling today?</h1>
<div class="form-container">

<form action="/mood/new" method="POST">
  <div class="input">
    <label for="mood"></label>
    <input type="text" name="mood">
    <a class="btn"><button type="submit">Create mood</button></a>
  </div>
</form>
</div>

<h3>Your moods: </h3>
<ul>
  {{#each moods}}
  <li>{{this.mood}} |</li>
  <form action="/new/{{_id}}/delete" method="POST">
    <a class="btn delete-mood"><button type="submit">Delete mood</button></a>
  </form>
  {{/each}}
</ul>

{{#if errorMessage}}
<p>{{this.errorMessage}}</p> <a href=""></a>
{{/if}}